

.m-banner .b-child2 .btns .btn{font-weight:normal;font-size:16px;width:50px;height:51px;line-height:51px;background-image:none;}

.m-banner .b-child4 .c-child1{width:100px;}
.m-banner .b-child4 .c-child2{width:78px;}
.m-banner .b-child4 .c-child3{width:54px;}
.m-banner .b-child4 .c-child4{width:54px;}

.main .main-content{position:relative;height:930px;}
.main .main-content .bg{position:absolute;top:-224px;left:50%;margin-left:-945px;width:1841px;height:1111px;}
.main .main-content .s-content{position:absolute;top:74px;left:0px;right:0px;margin:0 auto;width:934px;}
.main .main-content .s-child{cursor:pointer;position:absolute;background:url(../images/lottery/s-bg.png);border:1px solid #2e6275;}
.main .main-content .s-child:hover{background:url(../images/lottery/s-bg2.png);}
.main .main-content .s-child.on{background:url(../images/lottery/s-bg2.png);}
.main .main-content .s-child .s-childc{position: absolute;left:0px;right:0px;bottom:0px;text-align: left;line-height:24px}
.main .main-content .s-child .s-childc img{margin-top:0px;width:auto !important;height:24px;vertical-align: middle;}
.main .main-content .s-title{line-height:20px;color:#fdaf21;font-size:16px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;}
.main .main-content .s-head{position:relative;height:214px;}
.main .main-content .s-head .child-top{position:absolute;top:0px;width:126px;height:148px;background:url(../images/lottery/s-bg.png);border:1px solid #2e6275;}
.main .main-content .s-head .child-top.on{background:url(../images/lottery/s-bg2.png);}
.main .main-content .s-head .child-top img{padding:20px 10px 0 10px;vertical-align:middle;}
.main .main-content .s-head .child-bottom{position:absolute;bottom:0px;width:126px;height:56px;line-height:56px;}
.main .main-content .s-head .child-bottom img{ vertical-align:middle;padding:0 10px;}
.main .main-content .s-head .child-sub{position:absolute;bottom:0px;top:0px;width:94px;border-radius:3px;-webkit-border-radius:3px;background:url(../images/lottery/s-bg.png);border:1px solid #2e6275;}
.main .main-content .s-head .child-sub .s-title{position:absolute;top:15px;text-align:center;left:0px;right:0px;}
.main .main-content .s-head .child-sub .s-child{position:relative;}
.main .main-content .s-head .child-sub ul{padding-top:60px;}
.main .main-content .s-head .child-sub ul li{padding:8px 0;text-align:center;margin:0 auto;}
.main .main-content .s-head .child-sub ul li img{width:29px;margin:0 2px; vertical-align:middle;}
.main .main-content .s-head .child-center{position:absolute;text-align:center;left:236px;right:236px;height:102px;background:url(../images/lottery/s-bg.png);border:1px solid #2e6275;}
.main .main-content .s-head .child-center .s-title{position:absolute;top:15px;text-align:center;left:0px;right:0px;}
.main .main-content .s-head .child-center .s-child{width:60px;height:60px;}
.main .main-content .s-head .child-center ul{padding-top:36px;}
.main .main-content .s-head .child-center ul li{position:relative;height:22px;display:inline-block;*display:inline;*zoom:1;margin:0 2px;}
.main .main-content .s-head .child-center ul li img{width:22px;margin:0 1px; vertical-align:middle;margin-top: 30px;}
.main .main-content .s-head .child-center ul li .one{position:absolute;bottom:32px;left:0px;right:0px;margin:0 auto;}
.main .main-content .s-head .child1{left:0px;border-radius:60px 0 0 0;text-align:right;}
.main .main-content .s-head .child2{left:0px;text-align:right;}
.main .main-content .s-head .child3{left:133px;}
.main .main-content .s-head .child4{top:0px;}
.main .main-content .s-head .child5{bottom:0px;}
.main .main-content .s-head .child6{right:133px;}
.main .main-content .s-head .child7{right:0px;border-radius: 0 60px 0 0;text-align:left;}
.main .main-content .s-head .child8{right:0px;text-align:left;}
.main .main-content .s-list{margin:8px 0;text-align:left;}
.main .main-content .s-list:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .main-content .s-list .s-child{margin-right:5px;width:60px;height:75px;float:left;position:relative;border-radius:4px;-webkit-border-radius:4px;}
.main .main-content .s-list .s-child.no{margin-right:0px;}
.main .main-content .s-list .s-child .s-title{position:absolute;top:44px;text-align:center;left:0px;right:0px;}
.main .main-content .s-list .s-child .s-mun{color:#fff;line-height:28px;font-size:30px;font-weight:bold;font-family:Arial, Helvetica, sans-serif;position:absolute;top:12px;text-align:center;left:0px;right:0px;}


.main .main-content .s-list2{margin:10px 0;text-align:left;}
.main .main-content .s-list2:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .main-content .s-list2 .s-child{text-align:center;margin-right:6px;width:50px;height:90px;float:left;position:relative;border-radius:4px;-webkit-border-radius:4px;}
.main .main-content .s-list2 .s-title{position:absolute;top:34px;text-align:center;left:0px;right:0px;}
.main .main-content .s-list2 .s-child img{width:35px;}
.main .main-content .s-list2 .s-child img:nth-child(1){margin-top:8px;}
.main .main-content .s-list2 .s-child.no{margin-right:0px;}
.main .main-content .s-list2 .first{text-align:center;width:50px;height:90px;margin-right:18px;background:url(../images/lottery/s-bg.png);border:1px solid #2e6275;float:left;position:relative;border-radius:4px;-webkit-border-radius:4px;}

.main .main-content .s-foot{position:relative;height:98px;background:url(../images/lottery/s-bg.png);border:1px solid #2e6275;border-radius:4px;-webkit-border-radius:4px;}
.main .main-content .s-foot .foot-titles{position:absolute;top:0px;bottom:0px;left:16px;height:72px;margin:auto 0;}
.main .main-content .s-foot .foot-titles p{line-height:24px;color:#FDB121;font-size:13px;}
.main .main-content .s-foot .s-child{width:72px;height:72px;line-height:72px;text-align:center;margin:auto 0;position:absolute;top:0px;bottom:0px;border-radius:4px;-webkit-border-radius:4px;}
.main .main-content .s-foot .s-child img{ vertical-align:middle;}
.main .main-content .s-foot .child6{left:122px;}
.main .main-content .s-foot .child5{left:260px;}
.main .main-content .s-foot .child4{left:396px;}
.main .main-content .s-foot .child3{left:532px;}
.main .main-content .s-foot .child2{left:670px;}
.main .main-content .s-foot .child1{left:808px;}

.main .main-order{position:fixed;z-index:2;bottom:0px;left:0px;right:0px;border-top:1px solid #3a3f69;background:#292c48;height:164px;border-shadow:0 0 12px rgba(0,0,0,0.48);-webkit-border-shadow:0 0 12px rgba(0,0,0,0.48);}
.main .main-order .container{height:100%;}
.main .main-order .order-content:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .main-order .order-content{position:absolute;top:0px;bottom:0px;margin:auto 0;height:84px;}
.main .main-order .order-content .child{float:left;}
.main .main-order .order-content .child1{width:136px;border-right:1px solid #1a1c32;padding-top:14px;height:70px;}
.main .main-order .order-content .child1 p{line-height:26px;font-size:14px;color:#fff;}
.main .main-order .order-content .child1 p span{color:#FF9500;}
.main .main-order .order-content .child2{position:relative;border-left:1px solid #3c3f57;border-right:1px solid #1a1c32;width:435px;height:84px;line-height:84px;text-align:center;}
.main .main-order .order-content .child2 .all{display:none;position:absolute;bottom:78px;right:-12px;width:429px;height:82px;}
.main .main-order .order-content .child2 .all .all-bg{position:absolute;top:0px;left:0px;}
.main .main-order .order-content .child2 .all .all-imgs{position:absolute;top:4px;left:6px;height:62px;line-height:62px;text-align:center;width:417px;}
.main .main-order .order-content .child2 .all .all-imgs .cc{transition-duration: .3s;-webkit-transition-duration:.3s;cursor:pointer;margin:0 -1px;display:inline-block;*display:inline;*zoom:1; vertical-align:middle;}
.main .main-order .order-content .child2 .all .all-imgs .cc:hover{ transform:translateY(-12px);-webkit-transform:translateY(-12px);}
.main .main-order .order-content .child2 .all .all-imgs .cc.on{ transform:translateY(-318px);-webkit-transform:translateY(-318px);}
.main .main-order .order-content .child2 .c{cursor:pointer;vertical-align:middle;transition-duration: .3s;-webkit-transition-duration:.3s;}
.main .main-order .order-content .child2 .c:hover{ transform:translateY(-12px);-webkit-transform:translateY(-12px);}
.main .main-order .order-content .child2 .c.on{ transform:translateY(-346px);-webkit-transform:translateY(-346px);}
.main .main-order .order-content .child2 .more{padding:0 0 0 8px;cursor:pointer;font-size:14px;color:#fff;vertical-align:middle;display:inline-block;*display:inline;*zoom:1;}
.main .main-order .order-content .child3{position:relative;height:84px;width:206px;border-left:1px solid #3c3f57;border-right:1px solid #1a1c32;}
.main .main-order .order-content .child3:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .main-order .order-content .child3 .s-child{position:relative;width:50%;text-align:center;float:left;}
.main .main-order .order-content .child3 .s-child .s-title{line-height:22px;padding:13px 0 10px 0;text-align:center;color:#fff;font-size:14px;}
.main .main-order .order-content .child3 .s-child .s-content{text-align:center;}
.main .main-order .order-content .child3 .s-child .s-content .s-btn{ vertical-align:middle;cursor:pointer;}
.main .main-order .order-content .child3 .s-child .s-content .text{vertical-align:middle;margin:0 2px;display:inline-block;*display:inline;*zoom:1;width:36px;height:26px;line-height:26px;text-align:center;background:#181a2f;border-radius:2px;-webkit-border-radius:2px;}
.main .main-order .order-content .child3 .s-child .s-content .text .inputText{text-align:center;width:100%;height:100%;font-size:14px;background:none;border:0px;color:#f8a11b;}
.main .main-order .order-content .child4{position:relative;height:84px;width:230px;border-left:1px solid #3c3f57;}
.main .main-order .order-content .child4 .btn{position:absolute;cursor:pointer;}
.main .main-order .order-content .child4 .btn1{left:16px;top:0px;bottom:0px;margin:auto 0;}
.main .main-order .order-content .child4 .btn2{left:128px;top:4px;}
.main .main-order .order-content .child4 .btn3{left:128px;top:46px;}
.main .main-order .order-history{cursor:pointer;position:absolute;top:0px;bottom:0px;right:0px;width:70px;background:#22253e;border-left:1px solid #3c3f57;border-right:1px solid #3c3f57;}
.main .main-order .order-history .center{position:relative;height:100%;border-right:1px solid #1a1c32;border-left:1px solid #1a1c32;}
.main .main-order .order-history .t{line-height:26px;text-align:center;color:#fff;font-size:15px;padding-top:56px;}
.main .main-order .order-history .pointer{position:absolute;bottom:40px;left:0px;right:0px;margin:0 auto;}

.main .main-msg{position:fixed;z-index:2;bottom:0px;left:0px;right:0px;display:none;background:#ffffff;box-shadow:0 1px 3px rgba(0,0,0,0.1);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1);}
.main .main-msg .container{height:100%;}
.main .main-msg .titles{position:relative;background:#f5f5f5;border-bottom:1px solid #e3e3e3;height:36px;line-height:36px;}
.main .main-msg .titles:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .main-msg .titles .child{cursor:pointer;padding:0 20px;color:#6B6C73;font-size:15px;float:left;}
.main .main-msg .titles .child.on{color:#fff;    background: #0090ff;} 
.main .main-msg .titles a{position:absolute;top:0px;bottom:0px;right:140px;height:20px;line-height:20px;color:#666;margin:auto 0;font-size:12px;}
.main .main-msg .titles .close{position:absolute;top:0px;bottom:0px;right:0px;width:100px;text-align:center;color:#fff;background:#ffb423;cursor: pointer;}
.main .main-msg .contents:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .main-msg .contents .line:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .main-msg .contents .line{margin:0;border-bottom:1px solid #e3e3e3;}
.main .main-msg .contents .child{box-sizing:border-box;float:left;border-right:1px solid #e3e3e3;min-height:33px;line-height:33px;text-align:center;font-size:13px;color:#999999;}
.main .main-msg .contents .child.no{border-right:0px;}
.main .main-msg .contents .child1{width:99px;}
.main .main-msg .contents .child2{width:69px;}
.main .main-msg .contents .child3{width:112px;}
.main .main-msg .contents .child4{width:89px;}
.main .main-msg .contents .child5{width:137px;}
.main .main-msg .contents .child6{width:122px;}
.main .main-msg .contents .child7{width:131px;}
.main .main-msg .contents .child8{width:78px;}
.main .main-msg .contents .child9{width:77px;}
.main .main-msg .contents .child10{width:inherit;float:inherit !important;}
.main .main-msg .contents .no-msg{padding:36px 0;text-align:center;color:#3a3a3a;text-align:center;padding:36px 0;}

.main .main-content .s-child .s-childc img{animation:scale .4s ease-in-out 0s both;-webkit-animation:scale .4s ease-in-out 0s both;}

