
.main .siftings .siftings-setting .child .line-content{width:106px;height:34px;line-height:34px;box-shadow:none;-webkit-box-shadow:none;background:#fff;}
.main .siftings .siftings-titles .child{ width:16.6666%;*width:16%;}
.main .siftings .siftings-content .siftings-line .child{width:16.6666%;}

