

.main .siftings .child1{width:156px;}
.main .siftings .child2{width:214px;}
.main .siftings .child3{width:202px;}
.main .siftings .child4{width:285px;}
.main .siftings .child5{float:inherit !important;width:inherit;}

